<section class="background-container">
        <div class="header-container">
            <div class="title-container">
                <h1 class="home-title">Power Wallet</h1>
            </div>
            <div class="nav-container">
                <button class="nav-buttons">Services</button>
                <button class="nav-buttons">About</button>
                <button class="nav-buttons">Contact</button>
            </div>
        </div>
        <div class="background-image">
            <img class="home-img" src="assets/home-page-bg.jpg" alt="ba"/>
        </div>
</section>