<section class="background-container">
        
    <div class="header-container">
            
            <div class="title-container">
                <h1 class="home-title">Power Wallet</h1>
            </div>
            
            <div class="nav-container">
                <button class="nav-buttons">Services</button>
                <button class="nav-buttons">About</button>
                <button class="nav-buttons">Contact</button>
            </div>
        </div>
        
        <div class="background-image">
            <img class="home-img" src="assets/home-page-bg.jpg" alt="ba"/>
        </div>

        <div class="section-1">
            <div class="about-container">    <!--Beginning of About Section-->
                <h1>About Our Company</h1>
            </div>
                <p class="PWM-txt">At Power Wallet, our mission is to empower minority communities with the 
                    knowledge and tools they need to take control of their financial future. We believe that everyone 
                    deserves access to clear, effective financial education—regardless of background or income level.
                </p>
                <!--<ul class="PWM-txt">
                    <li class="PWM.txt">At Power Wallet, our mission is to empower minority communities with the 
                        knowledge and tools they need to take control of their financial future. We believe that everyone 
                        deserves access to clear, effective financial education—regardless of background or income level..</li>
                </ul> -->
        </div>
        <div class="section-2">
            <div class="founder-container"> <!--Heashots of project team members-->
                <div class="headshots-container" >
                    <img class="S-P" src="../../assets/SEBA.png" alt="" width="200" height="200">
                    <img class="Z-P" src="../../assets/ZACH.png" alt="" width="200" height="200">
                    <img class="G-P" src="../../assets/GABE.png" alt="" width="200" height="200">
                </div>
                <div class="description-container"> <!--Description of project team roles-->
                    <ul class="seba-about">
                        <li class="seba.txt">Hello everyone, my name is Sebastian Acosta and I am the UX Designer/Developer for this project.</li>
                    </ul>
                    <ul class="zach-about">
                        <li class="zach.txt">Greetings, my name is Zachary Lopez and I am currently the Front-End Web Developer for this project.</li>
                    </ul>
                    <ul class="gabe-about">
                        <li class="gabe.txt">Hey guys, my name is Gabriel Prieto and I serve as the role of the Front-End Web Developer for this project.</li>
                    </ul>
                </div>
            </div>
        </div>    
</section>