.background-container{
    background-color: black;
    height: 100vh;
}


.header-container{
    display: flex;
    color: white;
    font-family:'Segoe UI', sans-serif;
    justify-content: space-evenly;
    min-width: 100vw;
}
.title-container{
    display: flex;
    min-width: 50vw;
    margin-left: 50px;
}
.nav-container{
    display: flex;
    min-width: 40vw;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-around;
}