.services-container{
    margin-top: 5rem;
    display: flex;
}

.services-title{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
}

.services-imgs{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.financial-literacy-column{
    display:flex;
    flex: 0.2;
    flex-direction: column;
}

.financial-literacy-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.financial-literacy-subheading{
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: large;
}

.financial-literacy-body{
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-size: large;
}

.boost-credit-img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.boost-credit-column{
    display: flex;
    flex: 0.2;
    flex-direction: column;
}

.boost-credit-subheading{
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: large;
}

.boost-credit-body{
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-size: large;
}

.master-budgeting-img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.master-budgeting-column{
    display: flex;
    flex: 0.2;
    flex-direction: column;
}

.master-budgeting-subheading{
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: large;
}

.master-budgeting-body{
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-size: large;
}

.service-buttons{
    padding-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    color: white;
    background-color: #262626;
    border: 0.1rem #9a5151 solid;
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    font-size: 20px;
}

.buttons:active{
    background-color: #9a5151;
}
.background-container{
    background-color: #262626;
    height: 600vh;
}

.header-container{
    display: flex;
    color: white;
    font-family:'Segoe UI', sans-serif;
    justify-content: space-evenly;
    min-width: 100vw;
}
.title-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    min-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.nav-container{
    position: relative;
    display: flex;
    min-width: 35vw;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
}

.nav-buttons{
    color: white;
    background-color: #262626;
    border: none;
    min-width: 95px;
    min-height: 45px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family:'Segoe UI', sans-serif;
}

.nav-buttons:active{
    background-color: #323232;
}

.banner{
    background-image: url('../../assets/banner.jpg');
    width: 95%;
    height: 80vh;
    background-repeat: no-repeat;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: 100%, 100%;
}

.banner-text{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: .5rem;
    margin-right: .5rem;
    color: white;
    font-family:'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: flex-end;
    float: right;
}
.founder-container{
    display: flex;
}
.S-P{
    display: flex;
    border-radius: 50%;
    margin-left: 5rem;
}
.Z-P{
    display: flex;
    border-radius: 50%;
    margin-top: 5rem;
    margin-left: 5rem;
}
.G-P{
    display: flex;
    border-radius: 50%;
    margin-top: 5rem;
    margin-left: 5rem;
}
.text-container{
    display: flex;
    font-family:'Segoe UI', sans-serif;
    margin-top: 10rem;
    margin-left: 10rem;
    float: left;

}
.description-container{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.seba-about{
    display: flex;
    margin-top: 2rem;
    margin-right: 38rem;
    font-family:'Segoe UI', sans-serif;
    font-size: larger;
    color: white;
}
.zach-about{
    display: flex;
    margin-top: 7rem;
    margin-right: 40rem;
    font-family:'Segoe UI', sans-serif;
    font-size: larger;
    color: white;
}
.gabe-about{
    display: flex;
    margin-top: 5rem;
    margin-right: 40rem;
    font-family:'Segoe UI', sans-serif;
    font-size: larger;
    color: white;
}
.PWM-txt{
    display: flex;
    float: right;
    width: 200px;
    margin-top: 5rem;
    font-size: large;
    color: white;
}

.section-1{
    float: right;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-top: 5rem;
    font-family:'Segoe UI', sans-serif;
    font-size: large;
    color: white;
}

.section-2{
    float: left;
    max-width: 50%;
    margin-left: 10rem;
    margin-top: 5rem;
}
