<section class="background-container">
        
    <div class="header-container">
            
            <div class="title-container">
                <h1 class="home-title">Power Wallet</h1>
            </div>
            
            <div class="nav-container">
                <a href="#services"><button class="nav-buttons">Services</button></a>
                <a href="#about-anchor"><button class="nav-buttons">About</button></a>
                <a><button class="nav-buttons">Contact</button></a>
            </div>
        </div>
       
        <div class="banner">
            <h1 class="banner-text">Power Your Future, One Smart Decision at a Time</h1>
        </div>
        
        <div id="services" class="services-container">
            <h1 class="services-title">Services</h1>
        </div>

        <div class="services-imgs">
            <div class="financial-literacy-column">
                <img class="financial-literacy-img" src='../../assets/financial-literacy.jpg' alt ="financial-literacy" width="350rem" height="250rem"/>
                <p class="financial-literacy-subheading">Build Financial Literacy</p>
                <p class="financial-literacy-body">We simplify complex financial concepts, from budgeting basics to managing debt, so you can make informed decisions about your money.</p>
                <div class="service-buttons">
                    <button class="buttons">Learn More!</button>
                </div>
            </div>
    
            <div class="boost-credit-column">
                <img class="boost-credit-img" src='../../assets/boost-your-credit.jpg' alt ="boost-your-credit" width="350rem" height="250rem"/>
                <p class="boost-credit-subheading">Boost Your Credit</p>
                <p class="boost-credit-body">With our innovative credit simulator, you can explore how different financial actions affect you. For example, like how paying off debt or applying for new credit will impact your credit score over time, empowering you to make the best decisions for your credit health.</p>
                <div class="service-buttons">
                    <button class="buttons">Try It Today!</button>
                </div>
            </div>

            <div class="master-budgeting-column">
                <img class="master-budgeting-img" src='../../assets/master-budgeting.jpg' alt ="master-budgeting" width="350rem" height="250rem"/>
                <p class="master-budgeting-subheading">Boost Your Credit</p>
                <p class="master-budgeting-body">Our easy-to-use budgeting tools are
                    tailored to help you track expenses,
                    set financial goals, and make smarter spending choices that align with your lifestyle.</p>
                    <div class="service-buttons">
                        <button class="buttons">Learn More!</button>
                    </div>
            </div>
        </div>

        <div id="about-anchor" class="section-1">
            <div class="about-container">    <!--Beginning of About Section-->
                <h1>About Our Company</h1>
            </div>
                <p class="PWM-txt">At Power Wallet, our mission is to empower minority communities with the 
                    knowledge and tools they need to take control of their financial future. We believe that everyone 
                    deserves access to clear, effective financial education—regardless of background or income level.
                </p>
                <!--<ul class="PWM-txt">
                    <li class="PWM.txt">At Power Wallet, our mission is to empower minority communities with the 
                        knowledge and tools they need to take control of their financial future. We believe that everyone 
                        deserves access to clear, effective financial education—regardless of background or income level..</li>
                </ul> -->
        </div>
        <div class="section-2">
            <div class="founder-container"> <!--Heashots of project team members-->
                <div class="headshots-container" >
                    <img class="S-P" src="../../assets/SEBA.png" alt="" width="200" height="200">
                    <img class="Z-P" src="../../assets/ZACH.png" alt="" width="200" height="200">
                    <img class="G-P" src="../../assets/GABE.png" alt="" width="200" height="200">
                </div>
                <div class="description-container"> <!--Description of project team roles-->
                    <ul class="seba-about">
                        <li class="seba.txt">Hello everyone, my name is Sebastian Acosta and I am the UX Designer/Developer for this project.</li>
                    </ul>
                    <ul class="zach-about">
                        <li class="zach.txt">Greetings, my name is Zachary Lopez and I am currently the Front-End Web Developer for this project.</li>
                    </ul>
                    <ul class="gabe-about">
                        <li class="gabe.txt">Hey guys, my name is Gabriel Prieto and I serve as the role of the Front-End Web Developer for this project.</li>
                    </ul>
                </div>
            </div>
        </div>
</section>