<section class="background-container">
    <div class="header-container">
        <p class="header-text">
            Lets Get Started!
            Here is our Credit Boost Quiz
        </p>
    </div>
    <div class=" question-text">
        <p>How many credit cards do you currently have?</p>
    </div>
    <div class="question-input">
        <input type="number" id="credit-cards" name="credit-cards" min="0" max="10">
    </div>
    <div class="button-container">
        <a href="question-2">
            <button>Continue</button>
        </a>
    </div>
</section>  